# ignore everything
*

# allow gitignore itself and readme
!.gitignore
!README.md

# allow directories
!alignment/
!basecall/

# allow all contents inside them
!alignment/**
!basecall/**

# ignore large/raw files
**/*.pod5
**/*.fast5
**/*.fa
**/*.fasta
**/*.fastq
**/meryl_clean
**/*.log
**/*.out
**/*.err

# ignore results by default
**/results/*
**/results/**

# but keep selected result folders
!**/results/
!**/results/histograms/
!**/results/histograms/**
!**/results/comparison_graphs/
!**/results/comparison_graphs/**
!**/results/plots/
!**/results/plots/**
