# ignore everything
*

# allow gitignore itself and readme
!.gitignore
!README.md

# allow directories
!alignment/
!basecall/

# allow all contents inside them
!alignment/**
!basecall/**

# ignore large/raw files
**/*.pod5
**/*.fast5
**/*.fa
**/*.fasta
**/*.fastq
**/meryl_clean
**/*.log
**/*.out
**/*.err

# ignore everything inside alignment/results by default
alignment/results/**

# but allow directories under alignment/results
!alignment/results/**/

# and allow only per_chrom_all.txt files there
!alignment/results/**/per_chrom_all.txt
